# Laravel
school_api/.env
school_api/vendor/
school_api/node_modules/

# Laravel storage
school_api/storage/logs/*
school_api/storage/framework/cache/*
school_api/storage/framework/sessions/*
school_api/storage/framework/views/*

# Frontend
school_FE/node_modules/
school_FE/dist/
school_FE/.env
school_FE/.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store